<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Location Real Time</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<section id="map-layout">

		<div id="container-get-user">
			<label for="user">Ingrese Nombre Completo</label>
			<input id="userNames" type="text" placeholder="Nombres" value="">
			<button id="btnSendUserData">Enviar</button>
		</div>
		
	</section>

<!--SCRIPT LEAFLET-->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<!--SCRIPT MAIN.JS-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>